<form action="/users" method="POST">
    <h1>Name</h1>
    <input type="text" name="name" />
    <h1>Email</h1>
    <input type="text" name="email" />
    <h1>Address</h1>
    <input type="text" name="address" />
    <button type="submit">Send</button>
</form>